@import 'variables';

html {
    font-size: var(--rem);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    background: var(--bg-body);
    overflow-y: scroll;
}

a {
    color: var(--theme);
    text-decoration: none;
}

address {
    font-style: normal;
}

input,
textarea,
select,
button {
    appearance: none;
}

body,
input,
button,
textarea,
select {
    font-family: var(--font);
    font-weight: 400;
    color: var(--text-regular-color);
    line-height: var(--lh-regular);
    font-size: var(--fz-regular);
    letter-spacing: var(--letter-spacing-regular);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 700;
    letter-spacing: var(--letter-spacing-smaller);
}

h1,
.h1 {
    letter-spacing: var(--letter-spacing-small);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
blockquote,
ol {
    padding: 0;
    margin: 0;
}

@mixin title($index) {

    h#{$index},
    .h#{$index} {
        font-size: var(--fz-h#{$index});
        line-height: var(--lh-h#{$index});
    }
}

@for $i from 1 through 6 {
    @include title($i);
}